.pros-cons {
  position: relative;

  &-section {
    display: flex;
    flex-direction: column;
  }

  &__background-container {
    height: 330px;
    filter: blur(10px);
  }

  &__heading {
    text-align: center;
    font: 900 55px/62px $secondary-font;
    color: $main-color-dark;
    margin: 0 0 25px 0;
  }

  &__description {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;

    &-label {
      display: block;
    }

    &-input {
      display: none;
    }

    &-text {
      font: normal 500 20px/28px $main-font;
      color: $main-color-dark;
    }
  }
}

.pros {
  &__background-container {
    background: url('../images/pros.png') center/contain no-repeat;
    animation: rotateBackground 5s linear infinite;
  }
}

.cons {
  &__background-container {
    background: url('../images/cons.png') center/contain no-repeat;
    animation: rotateBackgroundReverse 5s linear infinite;
  }
}

@media screen and (min-width: $md-min) and (max-width: $md-max) {
  .pros-cons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 50%;

    &-section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;
    }

    &__background-container {
      height: 150px;
      filter: blur(5px);
      flex: 1;
    }

    &__description {
      position: static;
      flex: 1;

      &-list {
        display: none;
      }
    }

    &:nth-of-type(2n + 2) {
      flex-direction: row-reverse;
    }
  }
}

@media screen and (min-width: $lg-min) {
  .pros-cons {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__background-container {
      height: 80%;
      flex: 1;
    }

    &__heading {
      font: 900 90px/90px "Dynalight",Helvetica,sans-serif;
      margin: 15px;
    }

    &__description {
      position: static;
      flex: 1;

      &-list {
        display: none;
      }
    }

    &:nth-of-type(2n + 2) {
      flex-direction: row-reverse;
    }
  }
}