.pros-cons {
  position: relative;

  &-section {
    display: flex;
    flex-direction: column;
  }

  &__background-container {
    height: 330px;
    filter: blur(10px);
  }

  &__description {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &-heading {
      text-align: center;
      font: 900 41px/40px $secondary-font;
      color: $main-color-dark;
    }

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-element {
      text-align: center;
      font: normal 500 20px/28px $main-font;
      color: $main-color-dark;
    }
  }
}

.pros {
  &__background-container {
    background: url('../images/pros.png') center/contain no-repeat;
    animation: rotateBackground 5s linear infinite;
  }
}

.cons {
  &__background-container {
    background: url('../images/cons.png') center/contain no-repeat;
    animation: rotateBackgroundReverse 5s linear infinite;
  }
}

@media screen and (min-width: $md-min) and (max-width: $md-max) {
  .pros-cons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 50%;

    &-section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;
    }

    &__background-container {
      height: 150px;
      filter: blur(5px);
      flex: 1;
    }

    &__description {
      position: static;
      flex: 1;

      &-heading {

      }

      &-list {
        display: none;
      }
    }

    &:nth-of-type(2n + 2) {
      flex-direction: row-reverse;
    }

    &-group {
      height: 200px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      flex: 1 0 100%;
      margin: 200px 0 50px;
      border-top: 1px solid $main-color-light;

      &__label {
        width: 25%;
      }

      &__input {
        display: none;

        &:checked + .pros-cons-group__text {
          @include pros-cons-buttons(pros-cons-group__text, 0, 7);
         }

      }

      &__text {
        @include button(150px, 0, 20px, 22px);
        transition: top .3s ease-in-out;
      }
    }
  }
}

@media screen and (min-width: $lg-min) {
  .pros-cons {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__background-container {
      height: 80%;
      flex: 1;
    }

    &__description {
      position: static;
      flex: 1;

      &-heading {
        font: 900 90px/90px "Dynalight",Helvetica,sans-serif;
        margin: 15px;
      }

      &-list {
        display: none;
      }
    }

    &:nth-of-type(2n + 2) {
      flex-direction: row-reverse;
    }
  }
}