.pros-cons {
  position: relative;

  &-section {
    display: flex;
    flex-direction: column;
  }

  &__background-container {
    height: 320px;
    filter: blur(15px);
  }

  &__heading {
    text-align: center;
    font: 500 55px/62px $secondary-font;
    color: $main-color-dark;
    margin: 0 0 25px 0;
  }

  &__description {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;

    &-label {
      display: block;
      text-align: center;
      padding: 10px 0;
      color: $main-color-dark;
    }

    &-input {
      display: none;
    }

    &-group {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: baseline;
    }

    &-counter {
      font: 900 30px/32px $secondary-font;
    }

    &-text {
      font: 500 22px/28px $main-font;
    }
  }
}

.pros {

  &__background-container {
    background: url("../images/pros.png") center/contain no-repeat;
    animation: rotate-background 5s linear infinite;
  }
}

.cons {

  &__background-container {
    background: url("../images/cons.png") center/contain no-repeat;
    animation: rotate-background-reverse 5s linear infinite;
  }
}

@media all and (min-width: $sm-min) {
  .pros-cons {

    &__background-container {
      width: 330px;
      margin: 0 auto;
    }

    &__description {

      &-group {
        justify-content: center;
      }

      &-counter {
        font: 900 40px/42px $secondary-font;
      }

      &-text {
        font: 500 28px/34px $main-font;
      }
    }
  }
}

@media all and (min-width: $md-min) {
  .pros-cons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 100%;

    &-section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;
    }

    &__heading {
      flex: 1 0 50%;
      margin: 0;
    }

    &__background-container {
      flex: 1 0 50%;
      height: 150px;
      width: auto;
      filter: blur(5px);
    }

    &__description {
      position: static;
      flex: 1 0 100%;
      margin: 50px 0;

      &-input:checked {

        + .pros-cons__description-group {

          .pros-cons__description-counter {
            border-radius: 25px 0 0 25px;
            box-shadow: 0 0;
          }

          .pros-cons__description-text {
            width: 100%;
            opacity: 1;
            border-radius: 0 25px 25px 0;
          }
        }
      }

      &-group {
        justify-content: center;
        align-items: center;
      }

      &-counter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75px;
        height: 75px;
        color: $main-color-light;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 0 0 10px $main-color-light;
        transition: all .5s ease-in-out;
      }

      &-text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
        max-width: 70%;
        width: 0;
        white-space: nowrap;
        overflow: hidden;
        opacity: 0;
        border-radius: 25px;
        border: 2px solid $secondary-color;
        cursor: pointer;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
      }
      @include counter-color(pros-cons__description-counter, 1, 3);
      @include text-color(pros-cons__description-text, $numbers);
    }

    &:nth-of-type(2) {
      flex-direction: row-reverse;
    }
  }
}

@media all and (min-width: $lg-min) {
  .pros-cons {

    &__description {

      &-group {
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }

  .pros {
    .pros-cons__description-label {
      @include alignment(pros-cons__description-group, 1, 4);
    }
  }


  .cons {
    .pros-cons__description-label {
      @include alignment-reverse(pros-cons__description-group, 1, 4);
    }
  }
}
