.header {
  position: fixed;
  right: 0;
  left: 0;
  height: 75px;
  z-index: 10;
  background: $background-header;
  box-shadow: 0 0 10px $main-color-dark;

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
  }

  &__logo {

    &-item {
      width: 50px;
      vertical-align: middle;
    }
  }
}

@media all and (min-width: $sm-min) {
  .header {

    &__logo {

      &-item {
        width: 65px;
      }
    }
  }
}