@mixin button($width, $margin, $font-size, $line-height) {
  width: $width;
  display: block;
  padding: 20px;
  margin: $margin;
  font: 500 #{$font-size}/#{$line-height} $secondary-font;
  background: $secondary-color;
  color: $background-color;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease-in-out;
  border: 2px solid $secondary-color;
  @extend .border-radius;

  &:hover,
  &:focus {
    text-decoration: none;
    background: transparent;
    color: $secondary-color;
    letter-spacing: 3px;
    width: 60%;
    @extend .border-radius-reversed;
  }
}

@mixin buttons-checked($class, $start, $end) {
  @for $i from $start through $end {
    .#{$class}-#{$i} {

      @if $i == 0 or $i == 4 {
        left: 50px;
      }

      @if $i < 4 {
        left: $i * 225px + 50px;
      } @else {
        left: ($i - 4) * 225px + 50px;
        top: 550px;
      }
    }
  }
}
