@mixin button($width, $margin, $font-size, $line-height) {
  width: $width;
  margin: $margin;
  font: 500 #{$font-size}/#{$line-height} $secondary-font;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background: $secondary-background;
  color: $main-color-light;
  border: 2px solid $secondary-background;
  border-radius: 30px 0;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    background: transparent;
    color: $secondary-color;
    letter-spacing: 3px;
    width: 60%;
    border-radius: 0 25px;
  }
}

@mixin counter-color($class, $start, $end) {
  @for $i from $start through $end {
    .#{$class}_#{$i} {
      @if $i == 3 {
        background: rgba(204, 102, 153, 1/($i + 1));
      }
      @else {
        background: rgba(204, 102, 153, 1/$i);
      }
    }
  }
}

@mixin text-color($class, $numbers) {
  @each $i in $numbers {
    .#{$class}_#{$i} {
      border: 2px solid rgba(204, 102, 153, 1/$i);
    }
  }
}

@mixin alignment($class, $i, $end) {
  @while $i < $end {
    &:nth-of-type(#{$i}) {
      .#{$class} {
        justify-content: map-get($alignment, $i);
      }
    }
    $i: $i + 1;
  }
}

@mixin alignment-reverse($class, $i, $end) {
  @while $i < $end {
    &:nth-of-type(#{$i}) {
      .#{$class} {
        justify-content: map-get($alignment-reverse, $i);
      }
    }
    $i: $i + 1;
  }
}