.footer {
  background: rgba(20, 20, 20, 0.5);
  box-shadow: 0 0 10px $main-color-dark;

  &__container {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  &__nav {
    margin: 15px 0;

    &-list {
      margin: 0;
      padding: 0;
    }

    &-element {
      display: inline-block;
    }

    &-link {
      color: $main-color-dark;
      font: 500 30px $secondary-font;
      cursor: pointer;
      transition: color .3s;
      margin: 5px 20px 5px 0;

      &:hover,
      &:focus {
        text-decoration: none;
        color: $secondary-color;
        outline: none;
      }
    }
  }

  &__credits {
    margin: 15px 0;

    &-heading {
      margin: 0;
      color: $main-color-dark;
      font: 500 30px $secondary-font;
    }

    &-list {
      margin: 15px 0 0 0;
      padding: 0;
      list-style: none;
    }

    &-info {
      color: $main-color-dark;
      font: 500 16px $main-font;
    }

    &-link {
      color: $secondary-color;
      font: 500 16px $main-font;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: $sm-min) and (max-width: $sm-max) {
  .footer {

    &__container {
      margin: 0 40px;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: $md-min) and (max-width: $md-max) {
  .footer {

    &__container {
      margin: 0 50px;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: $lg-min) {
  .footer {

    &__container {
      margin: 0 50px;
      flex-direction: row;
      justify-content: space-between;
    }

    &__logo {

      &-item {
        width: 64px;
        vertical-align: middle;
      }
    }

    &__nav {


    }
  }
}